{
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-transform-parameters",
    "@babel/plugin-syntax-export-extensions"
  ]
}
